@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #9333ea;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}

.z-\[1\] {
    z-index: 1;
}

.z-\[2\] {
    z-index: 2;
}

.z-\[3\] {
    z-index: 3;
}

.z-\[4\] {
    z-index: 4;
}

.z-\[5\] {
    z-index: 5;
}

.z-\[6\] {
    z-index: 6;
}

.z-\[7\] {
    z-index: 7;
}

.z-\[8\] {
    z-index: 8;
}

.z-\[9\] {
    z-index: 9;
}

.z-\[10\] {
    z-index: 10;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
